.number-field {
	--label-color: hsl(240 6% 10%);
	--input-bg: white;
	--input-border: hsl(240 6% 90%);
	--input-border-hover: hsl(240 5% 65%);
	--input-color: hsl(240 4% 16%);
	--description-color: #3f3f46;
	--increment-bg: rgba(0, 0, 0, 0.1);
	--increment-bg-hover: rgba(0, 0, 0, 0.2);
}

[data-kb-theme="dark"] .number-field {
	--label-color: hsl(240 5% 84%);
	--input-bg: hsl(240 4% 16%);
	--input-border: hsl(240 6% 26%);
	--input-border-hover: hsl(240 5% 40%);
	--input-color: hsl(240 5% 84%);
	--description-color: hsl(240 5% 65%);
	--increment-bg: rgba(255, 255, 255, 0.1);
	--increment-bg-hover: rgba(255, 255, 255, 0.2);
}

.number-field {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.number-field__label {
	color: var(--label-color);
	font-size: 14px;
	font-weight: 500;
	user-select: none;
	text-align: left;
}
.number-field__input {
	display: inline-flex;
	width: 100%;
	border-radius: 6px;
	padding: 6px 12px;
	font-size: 16px;
	outline: none;
	background-color: var(--input-bg);
	border: 1px solid var(--input-border);
	color: var(--input-color);
	transition:
		border-color 250ms,
		color 250ms;
}
.number-field__input[data-invalid] {
	border-color: #dc2828;
	color: #dc2828;
}
.number-field__group {
	position: relative;
	border-radius: 6px;
}
.number-field__increment {
	top: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.number-field__decrement {
	bottom: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.number-field__increment,
.number-field__decrement {
	right: 0.25rem;
	position: absolute;
	height: 1rem;
	width: 1rem;
	background: var(--increment-bg);
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number-field__increment svg,
.number-field__decrement svg {
	position: absolute;
}
.number-field__increment:hover,
.number-field__decrement:hover {
	background: var(--increment-bg-hover);
}
.number-field__input:hover {
	border-color: var(--input-border-hover);
}
.number-field__input:focus-visible {
	outline: none;
}
.number-field__group:focus-within {
	outline: 2px solid hsl(200 98% 39%);
	outline-offset: 2px;
}
.number-field__description {
	color: var(--description-color);
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.number-field__error-message {
	color: #dc2828;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
