.add-group {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.add-group__item {
  padding: 0.5rem;
  border-radius: 0.5rem;
  appearance: none;
  user-select: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  border: 1px solid #ddd;
  position: relative;
  aspect-ratio: 1/1;
}


.add-group__item:hover {
  background-color: hsl(200 98% 39% / 0.2);
  color: hsla(0 100% 100% / 0.9);
  border-color: transparent;
}

.add-group__item-image {
  max-width: 100%;
  max-height: 100%;
}

.add-group__item-index {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  background-color: hsl(200 98% 39%);
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.9;
}

.add-group__item-index-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(0 72% 51%);
  color: white;
  fill: white;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  display: none;
}
.add-group__item:hover .add-group__item-index-close {
  display: block;
}

.add-group__plus {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  appearance: none;
  user-select: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  border: 1px dashed #ddd;
}